*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Libre Franklin', sans-serif;
    color: rgb(190, 188, 188);
}
a{
    text-decoration: none;
}
h1{
    font-family: 'Libre Franklin', sans-serif;
    font-size:40px;
    font-weight: 300;
    color: rgb(204, 204, 204);
}
.content p{
    padding: 15px 0 40px 0;
    font-size: 20px;
    font-weight: 300;
}
span{
    font-weight: 700;
    color: rgb(22, 22, 22);
}
.logo{
    padding: 50px;
    text-align: center;
}
.content{
    text-align: center;
}
form{
    margin-bottom: 50px;
}

#email{
    width: 380px;
    height: 25px;
    border: 1px solid rgb(190, 188, 188);
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(87, 87, 87);
    font-size:15px;
    color:rgb(87, 87, 87);
    padding: 10px;
}

#submit{
    width: 150px;
    height: 45px;
    background-color: rgb(34, 105, 236);
    border-radius: 20px;
    border-style: none;
    margin-left: 12px;
    font-size: 20px;
    color: white;
    box-shadow: 2x 1px 2px 3px hsl(223, 100%, 88%);
}
#submit:hover{
    cursor: pointer;
    transform: scaleX(1.03);
}

.image{
    text-align: center;
    margin-bottom: 50px;
}

ul{
    display: flex;
    list-style: none;
    text-align: center;
}

i{
    color:  rgb(34, 105, 236);
    font-size: 20px;
    padding-top: 14px;
}
.circle{
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid #c2d3ff;
    border-radius: 50%;
    margin: .5rem;

}
.socialmedia{
    margin-left: 680px;
}
p{
    text-align: center;
    padding: 15px;
}
footer{
    text-align: center;
    color: rgb(44, 44, 44);
    margin-bottom: 20px;
}

























